body {
    margin: 0;
    font-family: Arial;
  }

.top-navbar {
    overflow: hidden;
    background-color: #333;
  }
#home
{
  float:left;
}
.top-navbar a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
  }

  .top-navbar h2{
    color:#f2f2f2
  }
  
.top-navbar h2{
    float:left;
    color:black

  }
  
/*aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
aside{
  float:right;
  width:30%;
  height:50%;
}*/

.clearfiX{
  overflow: auto;
}

/*.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
 top:0
  overflow-x: hidden;
  padding-left: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: red;
}*/
.col2{
  float:right;
  font-style: italic;
  background-color: lightgray;
  widows: 50%;
 
}
.col1{
  width:90%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color:#333;
  color: white;
}